.green_button {
    background-color: #5a8c8c;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
}