<!doctype html>
<html>
<head>
	<title>DB Program #3</title>
	<link rel="stylesheet" href="/index.css" />
	{{#each jsscripts}}
	<script src="/static/{{this}}"></script>
	{{/each}}
</head>
<body>
<h1> Company Database </h1>
	{{{body}}}

<p>
<hr>
<i> by lamtu </i>
</body>
</html>
